<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Mappings">
      <section name="HistoryTBLQuery" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <Mappings>
    <HistoryTBLQuery>
      select
      'HISTORY_' || b.historytableid as "History_Table_Name",
      'KEY_' || a.HISTDEFID as "ELG_Request_ID",
      'KEY_' || c.HISTDEFID as "Letter_Generation_ID"
      from HISTDEFTBL a, HISTORYTABLETBL b, HISTDEFTBL c
      where a.VARIABLETYPE = 'Formula'
      and a.HISTORYTABLEID = b.HISTORYTABLEID
      and a.HISTORYTABLEID = c.HISTORYTABLEID
      and a.VARIABLENAMEID = 19565
      and c.VARIABLENAMEID = 19566
      order by 1
    </HistoryTBLQuery>
  </Mappings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ApplicationName" value="AccessLog"/>
    <add key="LogPath" value="C:\AccessLog\AccessLog\" />
    <add key="LogFileDateFormat" value="yyyyMMdd" />
    <add key="Debug" value="TRUE"/>

   
  </appSettings>
  <connectionStrings>
    <!--<add name="conn_string" connectionString="Data Source=ELGTS02;User ID=ELGDBOAPP;Password=ELG4USER'delete ths--2';" />-->
    <add name="conn_string" connectionString="Data Source=ELGST01CLD;User ID=cldbo;Password=NA6eruhU;" />
    <!--<add name="conn_stringAudit" connectionString="Data Source=ELGTS01;User ID=elgdbo;Password=test1234;" />-->
    <add name="conn_stringAudit" connectionString="Data Source=ELGST01AUD;User ID=elgdbo;Password=truyE8es;" />

  </connectionStrings>
</configuration>